@use "scss/var.scss" as *;


// Elements.scss is going to be deleted
// this is temporary, clean up the mess


body {
  background-color: $surface-primary;
}
.cont {
  width: 90vw;
  margin: 0px auto;
}
.top-bar > * {
  height: 5vh;
}
.fold > * {
  height: 95vh;
}
button {
  padding: 0.75rem 2.5rem;
  border-radius: 1px;
  border: none;
  background-color: $accent;  
  p {
    font-weight: 500 !important;
    color: $text-primary !important;
  }
}
section{
  padding-block: 6rem;
}
// Figure out aspect ratio and img cont
img {
  background-color: $surface-secondary;
  aspect-ratio: 3/2;
  max-width: 100%;
  height: auto;
}