@use "scss/var.scss" as *;

.gap-xs {
  gap: 0.5rem;
}
.gap-sm {
  gap: 1rem;
}
.gap-md {
  gap: 2rem;
}
.gap-lg {
  gap: 4rem;
}
.gap-xl {
  gap: 8rem;
}
.padd-vert-xs {
  padding-block: 0.5rem;
}
.padd-vert-sm {
  padding-block: 1rem;
}
.padd-vert-md {
  padding-block: 2rem;
}
.padd-vert-lg {
  padding-block: 4rem;
}
.padd-vert-xl {
  padding-block: 8rem;
}
